*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f7f8fc;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 90px;
}

.logo{
    font-size:32px;
    font-weight:bold;
    color:#1d4ed8;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:#222;
    font-weight:500;
    position:relative;
    transition:0.3s ease;
    padding-bottom:5px;
}

/* HOVER EFFECT */

.nav-links a:hover{
    color:#2563eb;
}

/* UNDERLINE ANIMATION */

.nav-links a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    width:0%;
    height:2px;
    background:#2563eb;
    transition:0.3s ease;
}

.nav-links a:hover::after{
    width:100%;
}

/* ACTIVE PAGE */

.active{
    color:#2563eb;
}

.active::after{
    width:100%;

}

.active{
    color:#2563eb;
}

.cv-btn{
    background:#0f172a;
    color:white;
    border:none;
    padding:14px 25px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s ease;
    text-decoration: none;
}

/* HOVER EFFECT */

.cv-btn:hover{
    background:#2563eb;
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(37,99,235,0.3);
}

/* HERO */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 90px;
}

.hero-text{
    width:50%;
}

.hello{
    color:#2563eb;
    font-weight:bold;
    margin-bottom:20px;
}

.hero h1{
    font-size:70px;
    margin-bottom:10px;
}

.hero h2{
    font-size:38px;
    margin-bottom:20px;
}

.description{
    color:#555;
    line-height:1.8;
    width:80%;
}

.buttons{
    margin-top:35px;
}

.blue-btn{
    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:15px 28px;
    border-radius:8px;
    margin-right:15px;
}

.white-btn{
    background:white;
    border:1px solid #ddd;
    text-decoration:none;
    color:black;
    padding:15px 28px;
    border-radius:8px;
}

.hero-image{
    position:relative;
}

.circle-bg{
    width:350px;
    height:350px;
    background:#e5e7eb;
    border-radius:50%;
    position:absolute;
}

.hero-image img{
    width:350px;
    position:relative;
    z-index:2;
    border-radius:20px;
}

.blue-dot{
    width:22px;
    height:22px;
    background:#2563eb;
    border-radius:50%;
    position:absolute;
    right:0;
    bottom:20px;
}

/* FEATURES */

.features{
    background:#07142b;
    color:white;
    display:flex;
    justify-content:space-around;
    padding:60px;
}

.feature-box{
    width:250px;
}

/* WORK */

.work{
    text-align:center;
    padding:80px;
}

.featured{
    color:#2563eb;
    font-weight:bold;
}

.work h2{
    font-size:45px;
    margin:20px 0;
}

.line{
    width:70px;
    height:4px;
    background:#2563eb;
    margin:auto;
}

.cards{
    display:flex;
    gap:30px;
    margin-top:50px;
    justify-content:center;
}

.card{
    background:white;
    width:320px;
    border-radius:14px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    padding:20px;
}

.card p{
    padding:0 20px;
    color:#666;
}

.card a{
    display:block;
    padding:20px;
    text-decoration:none;
    color:#2563eb;
    font-weight:bold;
}

/* FOOTER */

footer{
    background:#07142b;
    color:white;
    text-align:center;
    padding:30px;
}

/* ABOUT PAGE */

.about-page{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:100px 90px;
    gap:80px;
}

.about-image{
    width:40%;
}

.about-image img{
    width:100%;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.15);
}

.about-content{
    width:50%;
}

.section-title{
    color:#2563eb;
    font-weight:bold;
    margin-bottom:15px;
}

.about-content h1{
    font-size:50px;
}

.line-left{
    width:80px;
    height:4px;
    background:#2563eb;
    margin:20px 0;
}

.about-text{
    color:#555;
    line-height:1.9;
    margin-bottom:20px;
}

.about-cards{
    display:flex;
    gap:20px;
    margin-top:35px;
}

.info-card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    width:220px;
    transition:0.3s;
}

.info-card:hover{
    transform:translateY(-6px);
}

.info-card h3{
    margin-bottom:10px;
}
/* SKILLS PAGE */

.skills-page{
    padding:100px 90px;
    text-align:center;
}

.skills-header h1{
    font-size:50px;
    margin-top:10px;
}

.line-center{
    width:90px;
    height:4px;
    background:#2563eb;
    margin:20px auto;
}

.skills-description{
    color:#666;
    width:60%;
    margin:auto;
    line-height:1.8;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin-top:70px;
}

.skill-card{
    background:white;
    padding:40px;
    border-radius:18px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s ease;
}

.skill-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 20px rgba(37,99,235,0.15);
}

.skill-card h3{
    font-size:28px;
    margin-bottom:15px;
    color:#2563eb;
}

.skill-card p{
    color:#666;
}
/* PROJECTS PAGE */

.projects-page{
    padding:100px 90px;
}

.projects-header{
    text-align:center;
}

.projects-header h1{
    font-size:50px;
    margin-top:10px;
}

.projects-description{
    color:#666;
    width:60%;
    margin:auto;
    line-height:1.8;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(320px,1fr));
    gap:35px;
    margin-top:60px;
}

.project-card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s ease;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(37,99,235,0.15);
}

.project-card img{
    width:100%;
    height:240px;
    object-fit:cover;
}

.project-content{
    padding:25px;
}

.project-content h3{
    margin-bottom:15px;
}

.project-content p{
    color:#666;
    line-height:1.8;
}

.tech-stack{
    margin:20px 0;
}

.tech-stack span{
    background:#e0ebff;
    color:#2563eb;
    padding:8px 14px;
    border-radius:20px;
    font-size:14px;
    margin-right:8px;
}

.project-buttons{
    display:flex;
    gap:15px;
  
}

.live-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 18px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
    text-decoration: none;
}

.live-btn:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
}

.code-btn{
    background:white;
    border:1px solid #ccc;
    color: #1d4ed8;
    padding:12px 18px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
    text-decoration: none;
}

.code-btn:hover{
    background:#0f172a;
    color:white;
}
/* CONTACT PAGE */

.contact-page{
    display:flex;
    justify-content:space-between;
    gap:70px;
    padding:100px 90px;
}

.contact-left{
    width:45%;
}

.contact-left h1{
    font-size:50px;
}

.contact-description{
    color:#666;
    margin-top:20px;
    line-height:1.8;
}

.contact-info{
    margin-top:40px;
}

.contact-box{
    display:flex;
    align-items:center;
    gap:20px;
    background:white;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;
}

.contact-box:hover{
    transform:translateX(8px);
}

.contact-box i{
    font-size:22px;
    color:#2563eb;
}

.contact-right{
    width:50%;
}

form{
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

form input,
form textarea{
    width:100%;
    padding:18px;
    border:1px solid #ddd;
    border-radius:10px;
    margin-bottom:20px;
    font-size:16px;
}

.send-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:16px 30px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.send-btn:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
}
/* SINGLE PROJECT PAGE */

.single-project{
    padding:80px 90px;
}

.back-link{
    text-decoration:none;
    color:#2563eb;
    font-weight:600;
}

.single-project h1{
    text-align:center;
    font-size:45px;
    margin-top:20px;
}

.project-layout{
    display:flex;
    gap:50px;
    margin-top:50px;
}

.project-images{
    flex:1;
}

.main-image{
    width:100%;
    border-radius:20px;
    box-shadow:0 5px 15px
    rgba(0,0,0,0.1);
}

.thumbnail-gallery{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.thumbnail-gallery img{
    width:120px;
    height:80px;
    object-fit:cover;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.thumbnail-gallery img:hover{
    transform:scale(1.05);
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    inset: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90vh;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.project-info{
    flex:1;
}

.project-info h3{
    margin-top:25px;
    margin-bottom:15px;
}

.project-info p{
    color:#555;
    line-height:1.8;
}

.feature-list{
    padding-left:20px;
}

.feature-list li{
    margin-bottom:12px;
}
  /* RESPONSIVE */
  @media (max-width: 768px) {
    nav { padding: 1rem 1.5rem; }
    .nav-links { display: none; }
    .hero { grid-template-columns: 1fr; min-height: auto; padding: 7rem 1.5rem 3rem; }
    .hero-left { padding: 0; }
    .hero-right { display: none; }
    section { padding: 4rem 1.5rem; }
    .contact-grid { grid-template-columns: 1fr; gap: 2rem; }
    footer { padding: 1.5rem; flex-direction: column; gap: 0.5rem; text-align: center; }
  }
  /* SCROLL REVEAL */
  .reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
